{% extends 'base.html' %} 

{% block content %}
<div class="container">
    <div>

        <h3>Edit Work Diary</h3>
    </div>

    <h2>{{ project_assignment.project.name }}</h2> 

    <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="pull-right">
            <a class="btn btn-default btn-sm" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" glyphicon glyphicon-circle-arrow-down aria-expanded="true" aria-controls="collapseOne"><span class="caret"></span> Hide Section</a>
        </div>
        <br />
        <div class="card">
            <div id="collapseOne" class="collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-block">
                    <form role="form" method="post">
                        {% csrf_token %}
                        {{ form.project_assignment }}
                        {{ form.non_field_errors }}
                        <div class="fieldWrapper">
                            {{ form.finished_task.errors }}
                            <label for="{{ form.finished_task.id_for_label }}">Finished Task:</label>
                            {{ form.finished_task }}
                        </div><br />
                        <div class="fieldWrapper">
                            {{ form.todo_task.errors }}
                            <label for="{{ form.todo_task.id_for_label }}">To-Do Task:</label>
                            {{ form.todo_task }}
                        </div><br />
                        <div class="fieldWrapper">
                            {{ form.issues.errors }}
                            <label for="{{ form.issues.id_for_label }}">Issues:</label>
                            {{ form.issues }}
                        </div><br />
                        <div class="fieldWrapper">
                            {{ form.hours.errors }}
                            <label for="{{ form.hours.id_for_label }}">Hours:</label>
                            {{ form.hours }}
                        </div><br />
                        <a href="{% url 'work-diary' work.project_assignment.id %}" class="btn btn-default btn-sm">Cancel</a>
                        <button type="submit" class="btn btn-primary btn-sm">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div>
        <table class="table table-striped">
            <br />
            <div>
                <form class="navbar-form" method='GET' action=''>
                    <div class="input-group">
                        <input type="text" name='q' class='form-control' placeholder='Search something here' value='{{ request.GET.query }}'>
                    </div>
                </form>
            </div>
            <thead>
                <tr>
                    <th style="width: 15%;">DATE</th>
                    <th style="width: 5%;">HOURS</th>
                    <th style="width: 10%;">TODAY</th>
                    <th style="width: 10%;">TO-DO</th>
                    <th style="width: 10%;">ISSUES</th>
                </tr>
            </thead>
            <tbody>
            {% for work in work_diary %}
                <tr>
                    <td style="width: 15%;">
                        {{ work.date }}
                    </td>
                    <td style="width: 5%;">
                        {{ work.hours }}
                    </td>
                    <td style="width: 35%;">
                        {{ work.finished_task | linebreaksbr }}
                    </td>
                    <td style="width: 30%;">
                        {{ work.todo_task | linebreaksbr }}
                    </td>
                    <td style="width: 5%;">
                        {{ work.issues | linebreaksbr }}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="8" class="text-center bg-warning">
                        No Logs
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class='paginator'>
        <nav aria-label="...">
            <ul class="pager">
                <li class="previous">{% if work_diary.has_previous %}<a href="?page={{ work_diary.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><span aria-hidden="true">&larr;</span> Newer</a>{% endif %}
                </li>
                <li>
                <span class="current">
                    Page {{ work_diary.number }} of {{ work_diary.paginator.num_pages }}.
                </span>
                </li>
                <li class="next"> {% if work_diary.has_next %}<a href="?page={{ work_diary.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Older <span aria-hidden="true">&rarr;</span></a>{% endif %}
                </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}