{% extends 'dashboard.html' %}

{% block tabs %}

<div class="container"><br /><br />
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="{% url 'project' %}">Projects</a></li>
        <li role="presentation"><a href="{% url 'payroll' %}">Payroll</a></li>
        <li role="presentation"><a href="{% url 'request' %}">Contact</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
          <table class="table table-striped" id="product-table"><br />
            <thead>
              <tr>
                  <th>PROJECT NAME</th>
                  <th>HOURS</th>
                  <th>ACTION</th>
              </tr>
            </thead>
            {% for assignment in assignments %}
            <tbody>
              <tr>
                <td>{{ assignment.project.name }}</td>
                <td>{{ assignment.weekly_hours }}</td>
                <td>
                  <a href="{% url 'work-diary' assignment.id %}" class="btn btn-primary btn-sm">Work Diary</a>
                </td>
              </tr>
            {% empty %}
                <tr>
                  <td colspan="8" class="text-center bg-warning">No Projects</td>
                </tr>
            </tbody>
              {% endfor %}
          </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile"></div>
        <div role="tabpanel" class="tab-pane" id="messages"></div>
    </div>
  </div>

{%  endblock %}