{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}

<div class="container">

<div>
<div class="pull-right">
    <a href="{% url 'project' %}" class="btn btn-default btn-md">Back</a>
</div>
    <h1>Work Diary</h1>
</div>

<div id="accordion" role="tablist" aria-multiselectable="true">
<div  class="pull-right">
    <a class="btn btn-default" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" glyphicon glyphicon-circle-arrow-down aria-expanded="true" aria-controls="collapseOne"><span class="caret"></span> Hide Section</a>
</div>
<div class="card">
    <div id="collapseOne" class="collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-block">
        {% for assignment in assignments %}
            <h2>{{ assignment.project.name }}</h2>

            <form role="form" method="post" action="">
                {% csrf_token %}
                {% for field in form %}
                  <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% render_field field class="form-control" %}
                    {% for error in field.errors %}
                      <p class="help-block">{{ error }}</p>
                    {% endfor %}
                  </div>
                {% endfor %}
                    <button type="submit" class="btn btn-primary btn-sm">Save</button>
            </form>
        {% endfor %}
      </div>
    </div>
</div>
</div>
<br />
<div>
<table class="table table-striped"><br />
<div>
<form class="navbar-form" method='GET' action=''>
<div class="input-group">
      <input type="text" name='q' class='form-control' placeholder='Search something here' value='{{ request.GET.query }}'>
    </div> 
</form>
</div>
    <thead>
          <tr>
                <th>DATE</th>
                <th>HOURS</th>
                <th>TODAY</th>
                <th>TO-DO</th>
                <th>ISSUES</th>
          </tr>
    </thead>
    {% for work in work %}
    <tbody>

          <tr>
                <td>{{ work.date }}</td>
                <td>{{ work.hours }}</td>
                <td>{{ work.finished_task }}</td>
                <td>{{ work.todo_task }}</td>
                <td>{{ work.issues }}</td>
          </tr>
    {% empty %}
            <tr>
                <td colspan="8" class="text-center bg-warning">No Projects</td>
            </tr>
    </tbody>
      {% endfor %}
</table>
</div>
</div>

{% endblock %}