{% extends 'dashboard.html' %} {% block tabs %}
<div class="container">
    <br>
    <br>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"><a href="{% url 'project:project' %}">Projects</a></li>
        <li role="presentation" class="active"><a href="{% url 'accounts:payroll' %}">Payroll</a></li>
        <li role="presentation"><a href="{% url 'management:request' %}">Contact</a></li>
        <li role="presentation"><a href="{% url 'project:employees_misc' %}">Misc</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="home"></div>
        <div role="tabpanel" class="tab-pane active" id="profile">
            <br>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pr in payroll %}
                    <tr>
                        <td>{{pr.date}}</td>
                        <td>{{pr.description}}</td>
                        <td>
                            {% if pr.paid is True %}
                                Confirmed
                                <a target="_blank" href="../media/{{pr.invoice_file}}" class="btn btn-default">Download</a>
                            {% else %}
                                Waiting for confirmation
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="messages"></div>
    </div>
</div>
{% endblock %}
