{% extends 'base.html'%}
{% load widget_tweaks %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well">
                {% if error %}
                    <div class="alert alert-danger">
                        <strong>{{ error }}</strong>
                    </div>
                {% endif %}
                <h3 class="text-center"><strong>UPDATE YOR PASSWORD</strong></h3>
                <form action="{% url 'update_password' %}" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group{% if field.errors %} has-error{% endif %}">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {% render_field field class="form-control" %} {% for error in field.errors %}
                            <p class="help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-lg btn-block btn-success">Update Password</button><br>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}