{% extends 'base.html'%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                {% if error %}
                    {{ error }}
                {% endif %}
                <h3>Update your password</h3>
                <form action="{% url 'update_password' %}" method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="btn btn-lg btn-block btn-success">Update account details</button><br>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}