{% extends 'management.html' %}

{% block content %}
	<div class="col-md-12">
	    <ul class="nav nav-tabs">
		  <li class="active"><a href="#unconfirmed" data-toggle="tab">Unconfirmed requests</a></li>
		  <li><a href="#confirmed" data-toggle="tab">Confirmed requests</a></li>
		</ul>
		<div id="myTabContent" class="tab-content">
		  <div class="tab-pane fade active in" id="unconfirmed">
		    <table class="table">
				<thead>
					<tr>
						<th>Employee</th>
						<th>Date requested</th>
						<th>Subject</th>
						<th>Date of leave</th>
						<th>Date of return</th>
						<th>Content</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					{% for request in confirmed_requests %}
						{% if request.confirmed is False %}
	    				<tr>
	    					<td>{{request.employee.get_full_name}}</td>
	    					<td>{{request.date_requested}}</td>
	    					<td>{{request.get_subject_display}}</td>
	    					<td>{{request.date_of_leave}}</td>
	    					<td>{{request.date_of_return}}</td>
	    					<td>{{request.content}}</td>
	    					<td>
	    						{% if request.confirmed is True %}
	    							Confirmed
	    						{% else %}
	    							<form action="{% url 'update_request' %}" method="post">
		    							{% csrf_token %}
		    							<input type="hidden" value="{{request.id}}" name="id">
										<input type="hidden" name="status" value="{% if not request.confirmed %}True{% endif %}">
		    							<button type="submit" class="btn btn-sm btn-info">Confirm</button>
		    						</form>
	    						{% endif %}
	    					</td>
	    				</tr>
	    				{% endif %}
		    		{% empty %}
		    			No requests
		    		{% endfor %}
				</tbody>
			</table>
		  </div>
		  <div class="tab-pane fade" id="confirmed">
		  	<table class="table">
				<thead>
					<tr>
						<th>Employee</th>
						<th>Date requested</th>
						<th>Subject</th>
						<th>Date of leave</th>
						<th>Date of return</th>
						<th>Content</th>
					</tr>
				</thead>
				<tbody>
					{% for request in confirmed_requests %}
						{% if request.confirmed is True %}
	    				<tr>
	    					<td>{{request.employee.get_full_name}}</td>
	    					<td>{{request.date_requested}}</td>
	    					<td>{{request.get_subject_display}}</td>
	    					<td>{{request.date_of_leave}}</td>
	    					<td>{{request.date_of_return}}</td>
	    					<td>{{request.content}}</td>
	    				</tr>
	    				{% endif %}
		    		{% empty %}
		    			No requests
		    		{% endfor %}
				</tbody>
			</table>
		  </div>
		</div>
	</div>
{% endblock %}