{% extends 'management.html' %}
{% load widget_tweaks %}
{% block content %}

<div class="container">
<br><br>
{% if error %}
    <div class="alert alert-danger">{{error}}</div>
{% endif %}
<form role="form" method="post" action="{% url 'edit-project' project.id %}">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% render_field field class="form-control" %}
        {% for error in field.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    {% endfor %}
    <div>
        <a href="{% url 'assign_employee' project.id %}" class="btn btn-default btn-xs pull-right">Add Employee</a><br /><br />
    </div>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
          <table class="table table-striped" id="product-table"><br />
            <thead>
              <tr>
                  <th>EMPLOYEE NAME</th>
                  <th>HOURS</th>
                  <th>ACTION</th>
              </tr>
            </thead>
            {% for assignment in assignments %}
            <tbody>
              <tr>
                <td> {{ assignment.employee }} </td>
                <td> 
                    {{ assignment.weekly_hours }}
                </td>
                <td>
                    <a href="{% url 'edit-hours' project.id assignment.id  %}" class="btn btn-default btn-xs">Edit Hours</a>
                    <a href="{% url 'remove-employee' project.id assignment.employee.id %}" class="btn btn-danger btn-xs">Remove Employee</a>
                </td>
              </tr>
              {% empty %}
                <tr>
                  <td colspan="8" class="text-center bg-warning">Nothing to edit</td>
                </tr>
            </tbody>
            {% endfor %}
          </table>
        </div>
    </div>
    <button type="type" class="btn btn-default btn-sm pull-right">Cancel</button>
    <button type="submit" class="btn btn-primary btn-sm pull-right">Save</button>
</form>
</div>

{% endblock %}