{% extends 'management.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="container">
{% if error %}
    <div class="alert alert-danger">{{error}}</div>
{% endif %}
<form method="post">
    {% csrf_token %}
    <p><label for="id_weekly_hours">Weekly hours:</label> <input class="form-control" id="id_weekly_hours" name="weekly_hours" value="{{weekly_hours.weekly_hours}}" required></p>
    <a href="{% url 'edit-project' project_id %}" class="btn btn-default btn-xs pull-right">Cancel</a>
    <button type="submit" class="btn btn-primary btn-xs pull-right">Save</button>
</form>
</div>
{% endblock %}