{% extends 'management.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="container">
{% if error %}
    <div class="alert alert-danger">{{error}}</div>
{% endif %}
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.weekly_hours.errors }}
        <label for="{{ form.weekly_hours.id_for_label }}">Weekly Hours:</label>
        {{ form.weekly_hours }}
    </div><br />
    <a href="{% url 'edit-project' project_id %}" class="btn btn-default btn-md">Cancel</a>
    <button type="submit" class="btn btn-primary btn-md">Save</button>
</form>
</div>
{% endblock %}