{% extends 'management.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-6 col-md-offset-3">
            <div class="well">
                <img src="{{ miscs.employees.get_profile_pic }}" width="250px" height="250px" class="img-circle center-block">
                <h3 class="text-center">{{ miscs.employees.get_full_name }}</h3>
                <hr class="colorgraph">
                <h4>Payables</h4>
                <p><strong>Name: {{ miscs.name }}</strong></p>
                <p><strong>Types: {{ miscs.types }} </strong></p>
                <p><strong>Total Amount: {{ miscs.total_amount }}</strong></p>
                <p><strong>Months: {{ miscs.months }}</strong></p>
                <p><strong>Date Created: {{ miscs.date_created }}</strong></p>
                <p><strong>Status</strong> {% if miscs.status %} <code>Active</code>{% else %} <code>Inactive</code> {% endif %}</p>
                <button class="btn btn-default btn-sm"><a href="{% url 'management:admin_misc' %}">Back</a></button>
            </div>

        </div>
    </div>
</div>
{% endblock %}
