{% extends 'dashboard.html' %}
    {% load static %}
    {% block tabs %}
        <div class="container">
            <br>
            <br>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation"><a href="{% url 'project' %}">Projects</a></li>
                <li role="presentation"><a href="{% url 'payroll' %}">Payroll</a></li>
                <li role="presentation" class="active"><a href="{% url 'request' %}">Contact</a></li>
                <li role="presentation"><a href="{% url 'employees_misc' %}">Misc</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" id="home"></div>
                <div role="tabpanel" class="tab-pane" id="profile">
                </div>
                <div role="tabpanel" class="tab-pane active" id="contact">
                    <div class="col-md-12">
                        {% if success %}
                        <div class="alert alert-success alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> {{success}}
                        </div>
                        {% endif %}
                        <div class="col-md-4">
                            <h3>Send a request</h3>
                            <br>
                            <form action="{% url 'request' %}" method="post">
                                {% csrf_token %} {{form.as_p}}
                                <button type="submit" class="btn btn-primary">Submit request</button>
                            </form>
                        </div>
                        <div class="col-md-8">
                            <br>
                            <div class="well">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Date requested</th>
                                            <th>Subject</th>
                                            <th>Date of leave</th>
                                            <th>Date of return</th>
                                            <th>Content</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for request in requests_by_user %}
                                        <tr>
                                            <td>{{request.date_requested}}</td>
                                            <td>{{request.get_subject_display}}</td>
                                            <td>{{request.date_of_leave}}</td>
                                            <td>{{request.date_of_return}}</td>
                                            <td>{{request.content | truncatechars:200 }}</td>
                                            <td>
                                                {% if request.confirmed is True %} Confirmed {% else %} Not confirmed {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% if not requests_by_user %}
                                    <div class="alert alert-warning">No requests!</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block javascript %}
    <script src="{% static 'js/moment.js' %}"></script>
    <script src="{% static 'js/daterange-picker.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('input[name="date_of_leave"]').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            timePicker: true,
        });
        $('input[name="date_of_return"]').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            timePicker: true,
        });
        $('#id_subject').change(function() {
            var subject = $('#id_subject').val();
            if (subject == 'OR') {
                $('#id_date_of_return').attr('disabled', 'disabled');
            } else {
                $('#id_date_of_return').removeAttr('disabled');
            }
        });
    });
    </script>
{% endblock %}
