{% extends 'management.html' %} {% block content %}
<div class="col-lg-12">
    <h3>Work Diaries for {{date_now | date}}</h3>
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-striped">
                <br />
                <thead>
                    <tr>
                        <th>Employee</th>
                        <th>Project</th>
                        <th>Hours</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for work_diary in work_diaries %}
                    <tr>
                        <td> <img src="{{work_diary.project_assignment.employee.profile_pic.url}}" width="50px" height="50px" class="img-circle">&nbsp;&nbsp;&nbsp;{{work_diary.project_assignment.employee.get_full_name}}</td>
                        <td>{{work_diary.project_assignment.project.name}}</td>
                        <td>{{work_diary.hours}} hours</td>
                        <td>{{work_diary.finished_task}}
                            <br>{{work_diary.todo_task}}
                            <br>{{work_diary.issues}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <hr />
            </table>
            <a href="{% url 'admin' previous_day 'prev' %}">Previous</a>
        </div>
    </div>
</div>
{% endblock %}
