/* line 6, ../scss/sass/styles.scss */
#sidebar-wrapper {
  background-color: #111111;
  box-shadow: 0 5px 5px 0 #333, 0 5px 5px 0 #333, 0 5px 5px -5px #333 !important;
}
/* line 9, ../scss/sass/styles.scss */
#sidebar-wrapper .white-text {
  color: #ffffff;
}
/* line 12, ../scss/sass/styles.scss */
#sidebar-wrapper .list-heading {
  background-color: #000000;
}
/* line 15, ../scss/sass/styles.scss */
#sidebar-wrapper .sidebar-add-link {
  margin-right: 25px;
}
/* line 18, ../scss/sass/styles.scss */
#sidebar-wrapper .list-heading-text {
  color: #ffffff;
  font-weight: bold;
}
/* line 24, ../scss/sass/styles.scss */
#sidebar-wrapper .sidebar-nav li a {
  color: #ffffff;
}

/* line 31, ../scss/sass/styles.scss */
.panel {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

/* line 35, ../scss/sass/styles.scss */
#profile-container {
  position: relative;
  height: 200px;
  width: 200px;
}
/* line 39, ../scss/sass/styles.scss */
#profile-container .profile-pic {
  position: absolute;
}
/* line 42, ../scss/sass/styles.scss */
#profile-container .profile-img {
  position: absolute;
}
