{% load static %}
{% load management_custom_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SwiftTrack</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/simple-sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div id="wrapper" class="toggled">
        <!-- sidebar-nav -->
        {% include 'includes/sidenav_left.html' %}
        <!-- navbar_top -->
        {% include 'includes/navbar_top.html' %}<!-- /#navbar-top -->
        <!-- Page Content -->
        {% block content %} {% endblock %}
        <!-- /#page-content-wrapper -->
    </div><!-- /#wrapper -->
    <!-- jquery/javascript -->
    <script src="{% static 'js/jquery-3.2.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/moment.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/moment.js' %}"></script>
    {% block javascript %}
    <script type="text/javascript">
    $(document).ready(function() {
        $('#getDiaries').datepicker({
            format: "yyyy-mm-dd",
            todayBtn: "linked",
            clearBtn: true,
            autoclose: true,
            todayHighlight: true
        });
    });
    </script>
    {% endblock %}<!-- /#endscripts -->
</body>
</html>
