{% extends 'base.html' %}

{% block content %}

<div class="table-striped">
    <table class="table table-striped" id="product-table">
      <thead>
        <tr>
            <th>ID #</th>
            <th>Project Name</th>
            <th>Hours</th>
            <th>Action</th>
        </tr>
      </thead>
      {% for project in projects %}
      <tbody>
        <tr>
          <td>{{ project.id }}</td>
          <td>{{ project.project_name }}</td>
          <td>{{ project.hour }}</td>
          <td>WORK DIARY</td>
        </tr>
      {% empty %}
          <tr>
            <td colspan="8" class="text-center bg-warning">No Projects</td>
          </tr>
      </tbody>
        {% endfor %}
    </table>
</div>

{%  endblock %}