{% extends 'dashboard.html' %}

{% block tabs %}

<div class="table-striped">
    <table class="table table-striped" id="product-table">
      <thead>
        <tr>
            <th>ID #</th>
            <th>Project Name</th>
            <th>Hours</th>
            <th>Action</th>
        </tr>
      </thead>
      {% for project in projects %}
      <tbody>
        <tr>
          <td>{{ project.id }}</td>
          <td>{{ project.name }}</td>
          <td>{{ project.hours }}</td>
          <td>
            <a href="{% url 'work_diary' %}">Work Diary</a>
          </td>
        </tr>
      {% empty %}
          <tr>
            <td colspan="8" class="text-center bg-warning">No Projects</td>
          </tr>
      </tbody>
        {% endfor %}
    </table>
</div>

{%  endblock %}